@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #000;
  font-size: 150%;
  text-align: right;
}

.boxcent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.items {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 100;
}

.behind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}