@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .title {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #000;
  font-size: 150%;
  text-align: right;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.boxcent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.items {
  font-family: 'Times New Roman';
  font-style: italic;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

a:hover {
  text-decoration: underline;
  color: #7b1d06;
}


.behind {
  position: fixed;
  z-index: -1;
}

.holder {
  position: absolute;
  width:  33%;
  height:  33%;
  z-index: 0;
}

.moveBox {
  position: absolute;
  cursor: move;
  margin: auto;
}

.pageTitle {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  color: #000;
  font-size: 300%;
}

.times {
  font-family: 'Times New Roman';
  font-style: italic;
}

.box {
  border: 0.3mm solid #000;
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;
  width: 60%;
  flex-direction: column;
  align-items: left;
  cursor: move;
}

.pdfViewer {
  margin: 0 auto;
}