@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Thin-13.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-ThinItalic-14.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.homePage {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-family: "Helvetica Neue", "Raleway", sans-serif;
  font-weight: 200;
  color: #000;
  font-size: 150%;
  text-align: right;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.boxcent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.items {
  font-family: "Times New Roman";
  font-style: italic;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.items:hover {
  text-decoration: underline;
  color: #7b1d06;
}

.behind {
  position: fixed;
  z-index: -1;
}

.holder {
  position: absolute;
  width: 33%;
  height: 33%;
  z-index: 0;
}

.moveBox {
  position: absolute;
  cursor: move;
  margin: auto;
}

.headerTitle {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: #000;
  font-size: 200%;
}

.times {
  font-family: "Times New Roman";
}

.neue {
  font-family: "Helvetica Neue";
}

.aboutBigText {
  font-weight: 300;
  font-size: 100%;
}

.box {
  border: 0.3mm solid #000;
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;
  width: 60%;
  flex-direction: column;
  align-items: left;
  cursor: move;
}

.pdfBox {
  overflow: hidden !important;
}

.pdfViewer {
  margin: 0 auto;
  width: 100%;
  height: 80.7%;
  overflow: hidden !important;
}

@media (min-width: 610px) {
  .pdfViewer {
    padding-top: 20px;
    margin: 0 auto;
    width: 527px;
    height: 750px;
  }
}

.navItem {
  padding: max(0.25em, 1%) max(1em, 2%);
  margin: 0.1em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-transform: capitalize;
  background-size: 0% 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 450ms ease-in-out;
}

.navItem:hover {
  text-decoration: underline;
  background-size: 150% 200%;
  background-position: 0 100%;
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: smaller;
  align-self: center;
}

@media screen and (min-width: 360px) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    font-size: 15px;
  }
}
@media screen and (min-width: 590px) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin-left: auto;
    font-size: medium;
  }
}

.subPage {
  margin: 10px 15px 15px 15px;
}

@media (min-width: 900px) {
  .subPage {
    margin: 15px 30px 30px 30px;
  }
}

.headerBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 2px 10px 2px;
}

@media (min-width: 590px) {
  .headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
